* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/*NAV*/
.navbar {
    background-color: #ff8c91 ; 
}


.form-control:focus {
    border: 2px solid #6d165a;
}


.btn-outline-success {
    border-color:#6d165a;
    color:#6d165a
}

.btn-outline-success:hover {
    background-color: #6d165a ;
    color: #ffc4a6;
    border-color: #6d165a;
}

.btn-outline-success:active {
    background-color: #6d165a !important;
    color: #ffc4a6 !important;
    border-color: #6d165a !important;
}

.nav_boton:hover {
    animation-name: zoomin;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    color: #a0346e;
}
/*---*/

/*MAIN*/
.div_corousel {
    width: 100%;
    height: 250px;
}

.div_corousel img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

h1 {
    text-align: center;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 20%;
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    border: .3rem solid #6d165a;
    padding: 1%;
    border-radius: 5%;
    background-color: #bce3c5;
}

.card__texto {
    color:#230f2b;
    font-size: 1rem;
    text-align: center;
}

.card:hover {
    animation-name: zoomin;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/*---*/

@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

@media screen and (max-width: 480px) {
    .div_corousel {
        height: 200px;
    }

    .div_corousel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card {
        width: 90%;
        justify-content: center;
        align-items: flex-start;
    }
    .card__img{
        width: 80%;
        margin: 0 auto;
        
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}